html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #333;
}

body {
	background-color: #fff !important;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* max-width: 100%;
	overflow: hidden;
	top: 0;
	left: 0; */
} 
.main {
	flex: 1 1 auto;
}

.centered {
	text-align: center;
}




ol.breadcrumb {
	list-style: none;
	display: flex;
	padding-left: 0px;
	background-color: #fff;
	padding-top: 0;
}
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
input[type="search"]::-webkit-search-decoration{
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.container-fluid {
	width: 100%;
	padding: 0; 
	margin: 0px auto;
	text-align: center;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
}
.content {
	flex: 1 0 auto;
	padding-top: 120px;
}
a, a:visited,
a:hover{
	text-decoration: none;
	position: relative;
}

a.category__link:hover,
a.breadcrumb__link:hover{
	text-decoration: none;
}

.content__text {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	margin-top: 15px;
}
.content__text p {
	margin-bottom: 20px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: rgb(204, 204, 204);
	font-size: 22px;
	opacity: 0;
	transition: all .8s ease-in-out;
}
.gotop{
	right: 0;
}
.go__search{
	bottom: 105px;
	box-shadow: none;
}
.go__phone {
	bottom: 165px;
}
 @media (max-width: 767px) {
	.content {
		padding: 80px 0px 0px 0px;
	}
	
} 



h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: rgb(156, 156, 156);
}	
p{
	font-size:20px;
	color: rgb(184, 184, 184);
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}
	
