/* img.card-img-top{
	width: 100%;
	height: 100%;
	object-fit: cover;
} */
img.iibg{
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: center;
}
img.abg{
	width: 100%;
	height:270px;
	object-fit: cover;
	object-position: center;
}

@media(max-width:767px){
	img.iibg{
		width: 100%;
		height: 400px;
	
	}
}