.first{
	margin-top: 0;
	position: relative;
	
}
.med__s{
	display: none;
}
.med{
	color: rgb(170, 170, 170);
	font-weight: 100;
	letter-spacing: 0.1rem;
	width: 100%;
	font-size: 26px;
} 
@media(max-width: 1400px){
	.med{
		font-size: 20px;
	}
}
@media(max-width: 1024px){
	.med{
		font-size: 16px;
		top:60%;
	}
}
@media(max-width: 800px){
	.med__s{
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		font-size: calc(12px + 8 * (100vw / 1280));
		top:66%;
		color: rgb(170, 170, 170);
		text-align: center;
		font-weight: bold;
		
	}
	.med{
		display: none;
	}
}

@media(max-width: 400px){
	.med{
		font-size: 14px;
		letter-spacing: 0.05rem;
		top:78%;
		/* bottom: 0; */
	}
}
@media(max-width: 300px){
	.med{
		font-size: 12px;
		letter-spacing: 0rem;
	}
}

.login{
padding-top: 60px;
}
p.registr{
	font-size: 16px;
}
.shop-line{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}
.card{
	margin-left: 10px;
<<<<<<< HEAD
	
	
=======
	width:18rem;
}
@media(max-width: 767px){
	.card{
		margin-left: 0;
		width: 100%;
	}
>>>>>>> feature/auth
}
.price{
	display: flex;
	justify-content: space-around;
}
a.go{
	display: block;
	margin: 0 auto;
	width: 55%;
	margin-top: 20px;
}
.cart__link{
	position: relative;
}
.cart-link{
	position: absolute;
	top: 10px;
	right: 10px;
}
.cart-img{
	width: 100%;
	height: 250px;
}
p.card-text{
	font-size: 16px;
}
.card.pr{
	width: 100%;
	height: 600px;
}

@media(max-width: 767px){
	.card.pr{
		height: 400px;
	}
}

.about__product-wrapper{
	width: 100%;
}
.tabs-wrapper{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.tab-input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.tabs__content{
	width: 100%;
	display: none;
	padding: 20px;
}
.tab{
	text-align: center;
	padding: 20px ;
	flex-basis: 50%;
	margin-bottom: 0;
	color: #007bff;
	
}



#tab-1:checked ~ .tab-1{
	border-bottom: 2px solid #007bff; 
}
#tab-1:checked ~ .content-1{
	display: block;
}
#tab-2:checked ~ .tab-2{
	border-bottom: 2px solid #007bff; 
}
#tab-2:checked ~ .content-2{
	display: block;
}


.ac-block__item{
	margin-bottom: 20px;
}
.ac-block__title {
	position: relative;
	cursor: pointer;
	padding-left: 30px;
	color: #007bff;
	
}
.ac-block__title:before,
.ac-block__title:after {
	content: '';
	width: 10px;
	height: 1px;
	background-color: rgb(122, 122, 122);
	position: absolute;
	margin-top: 10px;
	margin-right: 20px;
	transition: all 0.3s ease 0s;
}
.ac-block__title:before {
	transform: rotate(40deg);
	left: 0;
}
.ac-block__title:after {
	transform: rotate(-40deg);
	left: 8px;
}
.ac-block__text {
	display: none;
	padding: 10px;
	
}
.ac-block__text p{
	font-size: 16px;
}
.ac-block__title.active:before,
.ac-block__title.active:after {
	background-color: rgb(255, 0, 0);
}
.ac-block__title.active:before{
	transform: rotate(-40deg);
}
.ac-block__title.active:after {
	transform: rotate(40deg);
}


.badge{
	color: cornflowerblue;
}
.log{
	margin: 0 auto;
}

.breadsearch{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media(max-width:767px){
	.breadsearch{
		display: flex;
		flex-direction: column;
	}
}

@media(max-width:767px){
	form.search{
	width: 100%;
	margin-bottom: 20px;
	}
}

@media(max-width:767px){
	input#query{
	width: 95%;
	}
}

input.cart_delete{
	color: red;
	
}

.sort span{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#fon{
	display: none;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: white;
}

#loader {
	display: none;
	z-index: 250;
	font-size: 30px;
	position: fixed;
	left: 50%;
	top: 50%;
	color: rgb(180, 180, 180);

	
}
